# Extension
hitl-vsc-extension/extension/node_modules/
hitl-vsc-extension/extension/out/

# Server
hitl-vsc-extension/server/.venv/
hitl-vsc-extension/server/app/__pycache__/
hitl-vsc-extension/server/data/

# General
*.js.map
__pycache__/
*.pyc
.env
